@font-face {
	font-family: 'Simple-Line-Icons';
	src:url('fonts/Simple-Line-Icons.eot');
	src:url('fonts/Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/Simple-Line-Icons.woff') format('woff'),
		url('fonts/Simple-Line-Icons.ttf') format('truetype'),
		url('fonts/Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-s3bubbleico]:before {
	font-family: 'Simple-Line-Icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.s3bubbleico-user-female, .s3bubbleico-user-follow, .s3bubbleico-user-following, .s3bubbleico-user-unfollow, .s3bubbleico-trophy, .s3bubbleico-screen-smartphone, .s3bubbleico-screen-desktop, .s3bubbleico-plane, .s3bubbleico-notebook, .s3bubbleico-moustache, .s3bubbleico-mouse, .s3bubbleico-magnet, .s3bubbleico-energy, .s3bubbleico-emots3bubbleico-smile, .s3bubbleico-disc, .s3bubbleico-cursor-move, .s3bubbleico-crop, .s3bubbleico-credit-card, .s3bubbleico-chemistry, .s3bubbleico-user, .s3bubbleico-speedometer, .s3bubbleico-social-youtube, .s3bubbleico-social-twitter, .s3bubbleico-social-tumblr, .s3bubbleico-social-facebook, .s3bubbleico-social-dropbox, .s3bubbleico-social-dribbble, .s3bubbleico-shield, .s3bubbleico-screen-tablet, .s3bubbleico-magic-wand, .s3bubbleico-hourglass, .s3bubbleico-graduation, .s3bubbleico-ghost, .s3bubbleico-game-controller, .s3bubbleico-fire, .s3bubbleico-eyeglasses, .s3bubbleico-envelope-open, .s3bubbleico-envelope-letter, .s3bubbleico-bell, .s3bubbleico-badge, .s3bubbleico-anchor, .s3bubbleico-wallet, .s3bubbleico-vector, .s3bubbleico-speech, .s3bubbleico-puzzle, .s3bubbleico-printer, .s3bubbleico-present, .s3bubbleico-playlist, .s3bubbleico-pin, .s3bubbleico-picture, .s3bubbleico-map, .s3bubbleico-layers, .s3bubbleico-handbag, .s3bubbleico-globe-alt, .s3bubbleico-globe, .s3bubbleico-frame, .s3bubbleico-folder-alt, .s3bubbleico-film, .s3bubbleico-feed, .s3bubbleico-earphones-alt, .s3bubbleico-earphones, .s3bubbleico-drop, .s3bubbleico-drawer, .s3bubbleico-docs, .s3bubbleico-directions, .s3bubbleico-direction, .s3bubbleico-diamond, .s3bubbleico-cup, .s3bubbleico-compass, .s3bubbleico-call-out, .s3bubbleico-call-in, .s3bubbleico-call-end, .s3bubbleico-calculator, .s3bubbleico-bubbles, .s3bubbleico-briefcase, .s3bubbleico-book-open, .s3bubbleico-basket-loaded, .s3bubbleico-basket, .s3bubbleico-bag, .s3bubbleico-action-undo, .s3bubbleico-action-redo, .s3bubbleico-wrench, .s3bubbleico-umbrella, .s3bubbleico-trash, .s3bubbleico-tag, .s3bubbleico-support, .s3bubbleico-size-fullscreen, .s3bubbleico-size-actual, .s3bubbleico-shuffle, .s3bubbleico-share-alt, .s3bubbleico-share, .s3bubbleico-rocket, .s3bubbleico-question, .s3bubbleico-pie-chart, .s3bubbleico-pencil, .s3bubbleico-note, .s3bubbleico-music-tone-alt, .s3bubbleico-music-tone, .s3bubbleico-microphone, .s3bubbleico-loop, .s3bubbleico-logout, .s3bubbleico-login, .s3bubbleico-list, .s3bubbleico-like, .s3bubbleico-home, .s3bubbleico-grid, .s3bubbleico-graph, .s3bubbleico-equalizer, .s3bubbleico-dislike, .s3bubbleico-cursor, .s3bubbleico-control-start, .s3bubbleico-control-rewind, .s3bubbleico-control-play, .s3bubbleico-control-pause, .s3bubbleico-control-forward, .s3bubbleico-control-end, .s3bubbleico-calendar, .s3bubbleico-bulb, .s3bubbleico-bar-chart, .s3bubbleico-arrow-up, .s3bubbleico-arrow-right, .s3bubbleico-arrow-left, .s3bubbleico-arrow-down, .s3bubbleico-ban, .s3bubbleico-bubble, .s3bubbleico-camcorder, .s3bubbleico-camera, .s3bubbleico-check, .s3bubbleico-clock, .s3bubbleico-close, .s3bubbleico-cloud-download, .s3bubbleico-cloud-upload, .s3bubbleico-doc, .s3bubbleico-envelope, .s3bubbleico-eye, .s3bubbleico-flag, .s3bubbleico-folder, .s3bubbleico-heart, .s3bubbleico-info, .s3bubbleico-key, .s3bubbleico-link, .s3bubbleico-lock, .s3bubbleico-lock-open, .s3bubbleico-magnifier, .s3bubbleico-magnifier-add, .s3bubbleico-magnifier-remove, .s3bubbleico-paper-clip, .s3bubbleico-paper-plane, .s3bubbleico-plus, .s3bubbleico-pointer, .s3bubbleico-power, .s3bubbleico-refresh, .s3bubbleico-reload, .s3bubbleico-settings, .s3bubbleico-star, .s3bubbleico-symbol-female, .s3bubbleico-symbol-male, .s3bubbleico-target, .s3bubbleico-volume-1, .s3bubbleico-volume-2, .s3bubbleico-volume-off, .s3bubbleico-users {
	font-family: 'Simple-Line-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.s3bubbleico-user-female:before {
	content: "\e000";
}
.s3bubbleico-user-follow:before {
	content: "\e002";
}
.s3bubbleico-user-following:before {
	content: "\e003";
}
.s3bubbleico-user-unfollow:before {
	content: "\e004";
}
.s3bubbleico-trophy:before {
	content: "\e006";
}
.s3bubbleico-screen-smartphone:before {
	content: "\e010";
}
.s3bubbleico-screen-desktop:before {
	content: "\e011";
}
.s3bubbleico-plane:before {
	content: "\e012";
}
.s3bubbleico-notebook:before {
	content: "\e013";
}
.s3bubbleico-moustache:before {
	content: "\e014";
}
.s3bubbleico-mouse:before {
	content: "\e015";
}
.s3bubbleico-magnet:before {
	content: "\e016";
}
.s3bubbleico-energy:before {
	content: "\e020";
}
.s3bubbleico-emots3bubbleico-smile:before {
	content: "\e021";
}
.s3bubbleico-disc:before {
	content: "\e022";
}
.s3bubbleico-cursor-move:before {
	content: "\e023";
}
.s3bubbleico-crop:before {
	content: "\e024";
}
.s3bubbleico-credit-card:before {
	content: "\e025";
}
.s3bubbleico-chemistry:before {
	content: "\e026";
}
.s3bubbleico-user:before {
	content: "\e005";
}
.s3bubbleico-speedometer:before {
	content: "\e007";
}
.s3bubbleico-social-youtube:before {
	content: "\e008";
}
.s3bubbleico-social-twitter:before {
	content: "\e009";
}
.s3bubbleico-social-tumblr:before {
	content: "\e00a";
}
.s3bubbleico-social-facebook:before {
	content: "\e00b";
}
.s3bubbleico-social-dropbox:before {
	content: "\e00c";
}
.s3bubbleico-social-dribbble:before {
	content: "\e00d";
}
.s3bubbleico-shield:before {
	content: "\e00e";
}
.s3bubbleico-screen-tablet:before {
	content: "\e00f";
}
.s3bubbleico-magic-wand:before {
	content: "\e017";
}
.s3bubbleico-hourglass:before {
	content: "\e018";
}
.s3bubbleico-graduation:before {
	content: "\e019";
}
.s3bubbleico-ghost:before {
	content: "\e01a";
}
.s3bubbleico-game-controller:before {
	content: "\e01b";
}
.s3bubbleico-fire:before {
	content: "\e01c";
}
.s3bubbleico-eyeglasses:before {
	content: "\e01d";
}
.s3bubbleico-envelope-open:before {
	content: "\e01e";
}
.s3bubbleico-envelope-letter:before {
	content: "\e01f";
}
.s3bubbleico-bell:before {
	content: "\e027";
}
.s3bubbleico-badge:before {
	content: "\e028";
}
.s3bubbleico-anchor:before {
	content: "\e029";
}
.s3bubbleico-wallet:before {
	content: "\e02a";
}
.s3bubbleico-vector:before {
	content: "\e02b";
}
.s3bubbleico-speech:before {
	content: "\e02c";
}
.s3bubbleico-puzzle:before {
	content: "\e02d";
}
.s3bubbleico-printer:before {
	content: "\e02e";
}
.s3bubbleico-present:before {
	content: "\e02f";
}
.s3bubbleico-playlist:before {
	content: "\e030";
}
.s3bubbleico-pin:before {
	content: "\e031";
}
.s3bubbleico-picture:before {
	content: "\e032";
}
.s3bubbleico-map:before {
	content: "\e033";
}
.s3bubbleico-layers:before {
	content: "\e034";
}
.s3bubbleico-handbag:before {
	content: "\e035";
}
.s3bubbleico-globe-alt:before {
	content: "\e036";
}
.s3bubbleico-globe:before {
	content: "\e037";
}
.s3bubbleico-frame:before {
	content: "\e038";
}
.s3bubbleico-folder-alt:before {
	content: "\e039";
}
.s3bubbleico-film:before {
	content: "\e03a";
}
.s3bubbleico-feed:before {
	content: "\e03b";
}
.s3bubbleico-earphones-alt:before {
	content: "\e03c";
}
.s3bubbleico-earphones:before {
	content: "\e03d";
}
.s3bubbleico-drop:before {
	content: "\e03e";
}
.s3bubbleico-drawer:before {
	content: "\e03f";
}
.s3bubbleico-docs:before {
	content: "\e040";
}
.s3bubbleico-directions:before {
	content: "\e041";
}
.s3bubbleico-direction:before {
	content: "\e042";
}
.s3bubbleico-diamond:before {
	content: "\e043";
}
.s3bubbleico-cup:before {
	content: "\e044";
}
.s3bubbleico-compass:before {
	content: "\e045";
}
.s3bubbleico-call-out:before {
	content: "\e046";
}
.s3bubbleico-call-in:before {
	content: "\e047";
}
.s3bubbleico-call-end:before {
	content: "\e048";
}
.s3bubbleico-calculator:before {
	content: "\e049";
}
.s3bubbleico-bubbles:before {
	content: "\e04a";
}
.s3bubbleico-briefcase:before {
	content: "\e04b";
}
.s3bubbleico-book-open:before {
	content: "\e04c";
}
.s3bubbleico-basket-loaded:before {
	content: "\e04d";
}
.s3bubbleico-basket:before {
	content: "\e04e";
}
.s3bubbleico-bag:before {
	content: "\e04f";
}
.s3bubbleico-action-undo:before {
	content: "\e050";
}
.s3bubbleico-action-redo:before {
	content: "\e051";
}
.s3bubbleico-wrench:before {
	content: "\e052";
}
.s3bubbleico-umbrella:before {
	content: "\e053";
}
.s3bubbleico-trash:before {
	content: "\e054";
}
.s3bubbleico-tag:before {
	content: "\e055";
}
.s3bubbleico-support:before {
	content: "\e056";
}
.s3bubbleico-size-fullscreen:before {
	content: "\e057";
}
.s3bubbleico-size-actual:before {
	content: "\e058";
}
.s3bubbleico-shuffle:before {
	content: "\e059";
}
.s3bubbleico-share-alt:before {
	content: "\e05a";
}
.s3bubbleico-share:before {
	content: "\e05b";
}
.s3bubbleico-rocket:before {
	content: "\e05c";
}
.s3bubbleico-question:before {
	content: "\e05d";
}
.s3bubbleico-pie-chart:before {
	content: "\e05e";
}
.s3bubbleico-pencil:before {
	content: "\e05f";
}
.s3bubbleico-note:before {
	content: "\e060";
}
.s3bubbleico-music-tone-alt:before {
	content: "\e061";
}
.s3bubbleico-music-tone:before {
	content: "\e062";
}
.s3bubbleico-microphone:before {
	content: "\e063";
}
.s3bubbleico-loop:before {
	content: "\e064";
}
.s3bubbleico-logout:before {
	content: "\e065";
}
.s3bubbleico-login:before {
	content: "\e066";
}
.s3bubbleico-list:before {
	content: "\e067";
}
.s3bubbleico-like:before {
	content: "\e068";
}
.s3bubbleico-home:before {
	content: "\e069";
}
.s3bubbleico-grid:before {
	content: "\e06a";
}
.s3bubbleico-graph:before {
	content: "\e06b";
}
.s3bubbleico-equalizer:before {
	content: "\e06c";
}
.s3bubbleico-dislike:before {
	content: "\e06d";
}
.s3bubbleico-cursor:before {
	content: "\e06e";
}
.s3bubbleico-control-start:before {
	content: "\e06f";
}
.s3bubbleico-control-rewind:before {
	content: "\e070";
}
.s3bubbleico-control-play:before {
	content: "\e071";
}
.s3bubbleico-control-pause:before {
	content: "\e072";
}
.s3bubbleico-control-forward:before {
	content: "\e073";
}
.s3bubbleico-control-end:before {
	content: "\e074";
}
.s3bubbleico-calendar:before {
	content: "\e075";
}
.s3bubbleico-bulb:before {
	content: "\e076";
}
.s3bubbleico-bar-chart:before {
	content: "\e077";
}
.s3bubbleico-arrow-up:before {
	content: "\e078";
}
.s3bubbleico-arrow-right:before {
	content: "\e079";
}
.s3bubbleico-arrow-left:before {
	content: "\e07a";
}
.s3bubbleico-arrow-down:before {
	content: "\e07b";
}
.s3bubbleico-ban:before {
	content: "\e07c";
}
.s3bubbleico-bubble:before {
	content: "\e07d";
}
.s3bubbleico-camcorder:before {
	content: "\e07e";
}
.s3bubbleico-camera:before {
	content: "\e07f";
}
.s3bubbleico-check:before {
	content: "\e080";
}
.s3bubbleico-clock:before {
	content: "\e081";
}
.s3bubbleico-close:before {
	content: "\e082";
}
.s3bubbleico-cloud-download:before {
	content: "\e083";
}
.s3bubbleico-cloud-upload:before {
	content: "\e084";
}
.s3bubbleico-doc:before {
	content: "\e085";
}
.s3bubbleico-envelope:before {
	content: "\e086";
}
.s3bubbleico-eye:before {
	content: "\e087";
}
.s3bubbleico-flag:before {
	content: "\e088";
}
.s3bubbleico-folder:before {
	content: "\e089";
}
.s3bubbleico-heart:before {
	content: "\e08a";
}
.s3bubbleico-info:before {
	content: "\e08b";
}
.s3bubbleico-key:before {
	content: "\e08c";
}
.s3bubbleico-link:before {
	content: "\e08d";
}
.s3bubbleico-lock:before {
	content: "\e08e";
}
.s3bubbleico-lock-open:before {
	content: "\e08f";
}
.s3bubbleico-magnifier:before {
	content: "\e090";
}
.s3bubbleico-magnifier-add:before {
	content: "\e091";
}
.s3bubbleico-magnifier-remove:before {
	content: "\e092";
}
.s3bubbleico-paper-clip:before {
	content: "\e093";
}
.s3bubbleico-paper-plane:before {
	content: "\e094";
}
.s3bubbleico-plus:before {
	content: "\e095";
}
.s3bubbleico-pointer:before {
	content: "\e096";
}
.s3bubbleico-power:before {
	content: "\e097";
}
.s3bubbleico-refresh:before {
	content: "\e098";
}
.s3bubbleico-reload:before {
	content: "\e099";
}
.s3bubbleico-settings:before {
	content: "\e09a";
}
.s3bubbleico-star:before {
	content: "\e09b";
}
.s3bubbleico-symbol-female:before {
	content: "\e09c";
}
.s3bubbleico-symbol-male:before {
	content: "\e09d";
}
.s3bubbleico-target:before {
	content: "\e09e";
}
.s3bubbleico-volume-1:before {
	content: "\e09f";
}
.s3bubbleico-volume-2:before {
	content: "\e0a0";
}
.s3bubbleico-volume-off:before {
	content: "\e0a1";
}
.s3bubbleico-users:before {
	content: "\e001";
}