.s3-playlist-wrapper{background:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.s3-video-play{background:#1A1A1A;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
.s3-playlist{background:#F2F4F7;-moz-border-radius-bottomright:3px;-moz-border-radius-bottomleft:3px;-webkit-border-bottom-right-radius:3px;-webkit-border-bottom-left-radius:3px;clear:both;float:none;width:100%;overflow:hidden;margin:auto}
.s3bubble-audio-playlist-tsearch,.s3bubble-video-playlist-tsearch{background:#222!important;border-radius:0!important}
.s3-playlist ul li{border-bottom:1px solid #eaedf1!important}
.s3-playlist ul li a{font-family:Signika, sans-serif!important;font-size:12px!important;font-weight:400!important}
.s3-playlist a,.s3-playlist p,.s3-playlist h3,.s3-playlist ul,.s3-playlist li,.s3-playlist li a i,.s3-title{color:#9ea7b3!important}
.s3-progress{background-color:#444!important}
.s3-seek-bar{background-color:#777!important}
.s3-poweredby{color:#A3B0B7!important;width:98%;padding:1%}
.jp-no-solution a, .s3-playlist ul li a.s3-playlist-current, .s3-playlist ul li.s3-playlist-current .s3bubble_share i{color:#e2e2e2 !important}
.s3-play-bar, .s3-playlist ul li.s3-playlist-current {background-color: #202020!important;}
.s3-gui,div.jp-video-full div div{background:#1A1A1A}
.s3videoSingle .s3-gui-video {height: 40px;width: 100%;position: absolute;bottom: 0px}