.s3-playlist-wrapper,.s3-video-play{background:#e2e2e2;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.s3-playlist{background:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.s3bubble-audio-playlist-tsearch,.s3bubble-video-playlist-tsearch{background:#ededed!important}
.s3-playlist ul li{border-bottom:1px solid #e2e2e2!important}
.s3-seek-bar{background-color:#fff!important}
.jp-no-solution a, .s3-playlist ul li a.s3-playlist-current, .s3-playlist ul li.s3-playlist-current .s3bubble_share i, .s3-playlist ul li.s3-playlist-current .download i{color:#fff !important}
.s3-poweredby{color:#e2e2e2!important}
.s3-gui,div.jp-video-full div div{background:#e2e2e2}
.s3videoSingle .s3-gui-video {height: 40px;width: 100%;position: absolute;bottom: 0px}