.mejs-container * {
    height: 100%;
}
.mejs-controls {
    background-color: #222222;
   -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
   -khtml-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
   -o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
   -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
   -moz-border-radius: 3px;
   -o-border-radius: 3px;
}
.mejs-overlay-button {
	background: #222 url(../images/play48.png)center no-repeat;
    height: 70px;
    width: 116px;
    border-radius: 5px;
    margin: 0px !important;
    top: 20px !important;
    left: 20px !important;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
   -khtml-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
   -o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
   -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
   -moz-border-radius: 3px;
   -o-border-radius: 3px;
}
.mejs-overlay-button
.mejs-controls a.mejs-horizontal-volume-slider {
    text-decoration: none !important;
    border: none !important;
}
.mejs-controls .mejs-time-rail .mejs-time-total, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	border-radius: 2px !important;
}
.mejs-controls .mejs-time-rail span, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	border-radius: 2px !important;
}
.mejs-overlay-loading span {
	background: #222 url(../mediaelementjs/build/loading.gif) 50% 50% no-repeat;
    border-radius: 40px;
}
.mejs-overlay-loading span i {
	font: normal normal normal 60px FontAwesome !important;
	font-size: 60px !important;
	text-align: center;
	color: white;
}
.mejs-overlay-play {
    height: 100% !important;
}
.mejs-controls .mejs-button button:focus {
  outline: none !important;
}
.s3bubble-live-media-element {
   color: white;
   padding: 4px;
   margin: 2px;
   line-height: 30px;
   font-size: 12px;
}