.s3audibleSingle .s3-duration, .s3audibleSingle .s3-current-time {
		display: none !important
	}
	.s3audible .s3-toggles {
		display: none !important
	}
	.s3audible .s3-duration, .s3audible .s3-current-time {
		display: none !important
	}
	.s3audible .s3bubble-rail {
		width: 50%;
		margin-right: 0%;
		right: 10px;
	}

	.s3video .s3bubble-rail {
		width: 38%;
		margin-right: -24%;
	}

	.s3audible, .s3-progress {
		width: 100%;
	}

	.s3audible .s3-toggles {
		display: none !important
	}
	.s3video .s3-duration, .s3video .s3-current-time {
		display: none !important
	}
	.s3video .search-tracks, .s3video .s3-mute {
		display: none !important
	}
	.s3videoSingle .s3-duration, .s3videoSingle .s3-current-time {
		display: none !important
	}
	.s3videoSingle .s3bubble-rail {
		width: 53%;
		left: 40px;
	}
	.s3videoSingle, .s3-progress {
		width: 100%;
	}
	.s3-video-play {
		border-radius: 3px !important;
		height: 60px !important;
		left: 50% !important;
		margin-left: -40px !important;
		margin-top: -30px !important;
		position: absolute !important;
		top: 50% !important;
		width: 80px !important;
		z-index: 2 !important;
	}
	.s3-video-play .s3-video-play-icon {
		color: #FFF;
		display: block;
		font-size: 20px;
		height: 100%;
		position: relative;
		text-align: center;
		text-decoration: none;
		width: 100%;
	}
	.s3-video-play .s3-video-play-icon i {
		font-size: 30px;
		left: 31px;
		line-height: 30px;
		position: absolute;
		top: 27%;
	}