div.s3bubble-video-270p {
	width: 480px
}
div.s3bubble-video-360p {
	width: 640px
}
div.s3bubble-video-responsive {
	width: 100%
}
.s3-contain {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
	background: #000
}
.s3bubble-loading {
	position: absolute;
	height: 50px !important;
	left: 50% !important;
	margin-left: -25px !important;
	margin-top: -25px !important;
	position: absolute !important;
	top: 50% !important;
	width: 50px !important;
	z-index: 1 !important
}
.s3-type-playlist {
	color: #CCC;
	float: left;
	height: 100%;
	min-height: 40px;
	position: relative;
	text-shadow: none;
	width: 100%
}
.s3-playlist a, .s3-playlist p, .s3-playlist h3, .s3-playlist ul, .s3-playlist li, .s3-title {
	color: #999 !important
}
div.jp-video-full {
	height: 100%;
	position: static !important;
	width: 100%
}
div.jp-video-full div div {
	z-index: 1000
}
div.jp-video-full div.jp-jplayer {
	left: 0;
	overflow: hidden;
	position: fixed !important;
	top: 0
}
div.jp-video-full div.jp-gui {
	height: 100%;
	left: 0;
	position: fixed !important;
	top: 0;
	width: 100%;
	z-index: 99999
}
div.jp-interface {
	background-color: #3a2a45;
	position: relative;
	width: 100%
}
div.jp-video-full div.s3-gui {
	bottom: 0;
	height: 40px;
	left: 0;
	position: fixed !important;
	width: 100%;
	z-index: 1001
}
.s3-video-play {
	border-radius: 3px !important;
	height: 80px !important;
	left: 50% !important;
	margin-left: -62px !important;
	margin-top: -40px !important;
	position: absolute !important;
	top: 50% !important;
	width: 124px !important;
	z-index: 2 !important
}
.s3-video-play .s3-video-play-icon {
	color: #FFF;
	display: block;
	font-size: 40px;
	height: 100%;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 100%
}
.s3-video-play .s3-video-play-icon i {
	font-size: 40px;
	left: 50px;
	line-height: 35px;
	position: absolute;
	top: 27%
}
.s3-interface {
	float: left;
	height: 40px;
	position: relative;
	width: 100%
}
.s3-playlist {
	clear: both;
	float: left;
	width: 100%
}
.s3-no-solution {
	position: absolute;
	text-align: center;
	width: 100%
}
.s3loadercenter {
	display: block;
	font-size: 9px !important;
	position: absolute !important;
	text-align: center !important;
	top: 53px !important;
	width: 100% !important
}
.s3desccenter a {
	font-size: 9px !important
}
.s3desccenter {
	font-size: 10px;
	left: 50%;
	margin-left: -52px;
	position: absolute;
	text-align: center;
	top: 25px;
	width: 104px
}
.s3bubble-rail {
	z-index: 2;
	height: 20px;
	margin-right: -30%;
	margin-top: 16px;
	position: absolute;
	right: 50%;
	top: 0;
	width: 60%;
	padding: 0 !important
}
.s3-progress {
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2) inset;
	background-color: #999 !important;
	border-radius: 3px !important;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2) inset;
	float: left;
	height: 8px;
	text-align: center;
	width: 70%;
	margin: auto
}
div.s3-video .s3-progress {
	background-image: none;
	border-bottom: 1px solid #554560;
	border-top: 1px solid #180a1f;
	width: 100%;
	padding: 0
}
.s3-seek-bar {
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
	cursor: pointer;
	height: 100%;
	overflow: hidden;
	width: 0
}
.s3-play-bar {
	height: 8px;
	overflow: hidden;
	width: 0
}
.s3-controls-holder {
	-moz-border-radius: 6px !important;
	-webkit-border-radius: 6px !important;
	border-radius: 6px !important;
	float: left;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	width: auto
}
ul.s3-controls {
	float: left;
	height: 20px;
	left: 5px;
	position: absolute;
	width: 90px;
	top: 11px;
	margin: 0 !important;
	padding: 0 !important
}
ul.s3-controls li {
	background: url(https://s3.amazonaws.com/s3audible/trans-fix.png) no-repeat !important;
	border: none !important;
	display: inline-block;
	float: left;
	list-style: none !important;
	text-align: center;
	margin: 0 !important;
	padding: 0 !important
}
.s3-togcontainer {
	height: 30px;
	position: absolute;
	right: 0;
	width: 60px;
	margin: 0;
	padding: 0
}
ul.s3-toggles {
	height: auto;
	position: absolute;
	right: 8px;
	top: 11px;
	width: 160px;
	margin: 0 !important;
	padding: 0 !important
}
.s3-playlist ul li {
	display: block;
	background: none !important;
	border: none !important;
	height: 30px !important;
	line-height: 16px !important;
	list-style: none outside none !important;
	position: relative;
	text-align: left !important;
	text-shadow: none !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important
}
.s3-playlist ul li:before {
	background: url(https://s3.amazonaws.com/s3audible/trans-fix.png) no-repeat !important;
	content: " " !important;
	height: 15px;
	width: 15px
}
.s3-playlist ul li div {
	float: left;
	margin-left: 5px;
	width: 100% !important
}
.s3-playlist ul li a {
	border: none !important;
	display: block !important;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 12px !important;
	font-weight: 700 !important;
	list-style: none !important;
	overflow: hidden;
	position: absolute;
	text-decoration: none !important;
	text-overflow: ellipsis;
	text-shadow: none !important;
	top: 7px;
	white-space: nowrap;
	width: 80%;
	margin: 0 8px !important;
	padding: 0 !important
}
ul.s3-toggles li a.s3-repeat, ul.s3-toggles li a.s3-repeat-off {
	background: transparent url(https://s3.amazonaws.com/s3audible/icons/wp_icon.png) no-repeat center center scroll;
	display: block !important;
	height: 15px;
	position: absolute;
	right: 0;
	top: 7px;
	width: 23px
}
.s3-artist {
	float: right !important;
	font-size: 10px !important;
	margin: 0 !important;
	padding: 0 !important
}
.s3loadercenter img, .s3-playlist ul li:last-child {
	border: none !important
}
.s3search {
	float: left;
	height: 30px;
	text-align: center;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important
}
.s3bubble-audio-playlist-tsearch, .s3bubble-video-playlist-tsearch {
	border: none !important;
	color: #555 !important;
	display: inline !important;
	font-size: 14px;
	height: 30px;
	line-height: 20px;
	vertical-align: middle;
	width: 100% !important;
	padding: 0px 10px !important;
	float: left;
}
.s3-togcontainer-video {
	height: 30px;
	position: absolute;
	right: 0;
	text-indent: -9999em;
	width: 90px;
	margin: 0 !important;
	padding: 0 !important
}
ul.s3-toggles-video {
	float: right;
	height: 40px;
	position: absolute;
	right: 0;
	width: 160px;
	margin: 0 !important;
	padding: 0 !important
}
ul.s3-toggles li, ul.s3-toggles-video li {
	background: url(https://s3.amazonaws.com/s3audible/trans-fix.png) no-repeat !important;
	border: none !important;
	list-style: none !important;
	text-align: center;
	margin: 0 !important;
	padding: 0 !important
}
ul.s3-toggles li a, ul.s3-toggles-video li a {
	display: inline-block;
	float: right;
	font-size: 20px !important;
	height: 20px;
	line-height: 0;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 30px;
	margin: 0 !important;
	padding: 0 !important
}
div.s3-video-full div.s3-gui {
	height: 100%;
	left: 0;
	position: fixed !important;
	top: 0;
	width: 100%;
	z-index: 1001
}
.s3-jplayer video {
	background: #000
}
.s3-jplayer img {
	width: auto !important;
}
div.s3-video-270p, div.s3-video-360p {
	overflow: hidden;
	width: 100%
}
ul.s3-controls li a {
	border: none;
	display: inline-block;
	float: left;
	font-size: 20px !important;
	height: 20px;
	line-height: 0 !important;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 30px;
	margin: 0 !important;
	padding: 0 !important
}
.s3-playlist ul li a.download {
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	height: auto;
	line-height: 0 !important;
	position: absolute;
	right: 2px;
	top: 9px;
	width: auto
}
.s3-playlist ul li a.s3bubble_share {
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	height: auto;
	line-height: 0 !important;
	position: absolute;
	right: 30px;
	top: 9px;
	width: auto
}
ul.s3-toggles-video li a {
	display: inline-block;
	float: right;
	font-size: 18px;
	height: 30px;
	line-height: 0 !important;
	text-decoration: none;
	width: 30px
}
.s3-type-playlist a > * {
	font-style: normal;
	text-decoration: none
}
.videoPoster {
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	margin: auto
}
.videoLoader {
	display: block;
	height: 128px;
	left: 50%;
	margin-left: -64px;
	position: absolute;
	top: 120px;
	width: 128px
}
.s3bubblePlayer, .s3audible, .s3video {
	position: relative;
	margin-bottom: 15px;
	overflow: hidden;
	padding-bottom: 20px
}
.s3-gui-video, .s3-gui-audio {
	clear: both;
	float: left;
	height: 40px;
	width: 100%
}
.s3-playlist ul li a.s3-playlist-item-remove, ul.s3-controls li a.s3-volume-max {
	display: none !important
}
.s3-current-time, .s3-duration {
	display: block;
	float: left !important;
	font-size: 12px !important;
	height: 16px !important;
	line-height: 17px !important;
	margin-top: -4px !important;
	text-align: center;
	width: 14%;
	z-index: 1 !important
}
.s3bubblePlayer a > * {
	background: none;
	font-family: FontAwesome !important;
	outline: none !important;
	outline-width: 0 !important;
	text-decoration: none !important;
	margin: 0 !important;
	padding: 0 !important
}
.s3-playlist-wrapper {
	width: 100%;
	height: 100%;
	display: block;
	float: left;
	clear: both
}
.s3-poweredby {
	font-size: 10px;
	z-index: 999;
	text-align: center;
	width: 100%;
	height: 20px;
	float: left;
	clear: both;
	text-decoration: none !important;
	font-style: italic
}
.s3-poweredby:hover {
	font-size: 10px !important;
	font-style: italic !important
}
div.jp-video-full div.jp-interface, div.jp-video-full div.s3-interface {
	bottom: 0;
	left: 0;
	position: absolute !important
}
ul.s3-toggles li a i, ul.s3-toggles-video li a i, ul.s3-controls li a i {
	background: none;
	font-size: 20px !important;
	margin: 0 !important;
	padding: 0 !important
}
.s3-playlist ul, .s3audibleSingle .s3-playlist ul {
	margin: 0 !important;
	padding: 0 !important
}
@media all and (max-width: 580px) {
	.s3audible .s3-duration, .s3audible .s3-current-time {
		display: none !important
	}
	.s3audible .s3bubble-rail {
		width: 53%;
	}
	.s3video .s3-duration, .s3video .s3-current-time {
		display: none !important
	}
	.s3video .s3bubble-rail {
		width: 53%;
	}
}
@media all and (max-width: 400px) {

	.s3audibleSingle .s3-duration, .s3audibleSingle .s3-current-time {
		display: none !important
	}
	.s3audible .s3-toggles {
		display: none !important
	}
	.s3audible .s3-duration, .s3audible .s3-current-time {
		display: none !important
	}
	.s3audible .s3bubble-rail {
		width: 50%;
		margin-right: 0%;
		right: 10px;
	}

	.s3video .s3bubble-rail {
		width: 38%;
		margin-right: -24%;
	}

	.s3audible, .s3-progress {
		width: 100%;
	}

	.s3audible .s3-toggles {
		display: none !important
	}
	.s3video .s3-duration, .s3video .s3-current-time {
		display: none !important
	}
	.s3video .search-tracks, .s3video .s3-mute {
		display: none !important
	}
	.s3videoSingle .s3-duration, .s3videoSingle .s3-current-time {
		display: none !important
	}
	.s3videoSingle .s3bubble-rail {
		width: 53%;
		left: 40px;
	}
	.s3videoSingle, .s3-progress {
		width: 100%;
	}
	.s3-video-play {
		border-radius: 3px !important;
		height: 60px !important;
		left: 50% !important;
		margin-left: -40px !important;
		margin-top: -30px !important;
		position: absolute !important;
		top: 50% !important;
		width: 80px !important;
		z-index: 2 !important;
	}
	.s3-video-play .s3-video-play-icon {
		color: #FFF;
		display: block;
		font-size: 20px;
		height: 100%;
		position: relative;
		text-align: center;
		text-decoration: none;
		width: 100%;
	}
	.s3-video-play .s3-video-play-icon i {
		font-size: 30px;
		left: 31px;
		line-height: 30px;
		position: absolute;
		top: 27%;
	}

}
.s3-playlist-wrapper {
	background: #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}
.s3-video-play {
	background: #f60;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}
.s3-gui {
	background: #f60;!important
}
.s3-playlist {
	background: #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}
.s3bubble-audio-playlist-tsearch, .s3bubble-video-playlist-tsearch {
	background: #222 !important
}
.s3-playlist ul li {
	border-bottom: 1px solid #202020 !important
}
.s3-seek-bar {
	background-color: #333 !important
}
.s3-poweredby {
	color: #333 !important
}
div.jp-video-full div div {
	background: #f60;
}