.s3-playlist-wrapper,.s3-video-play{background:#202020;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.s3-playlist{background:#222;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.s3bubble-audio-playlist-tsearch,.s3bubble-video-playlist-tsearch{background:#333!important}
.s3-playlist ul li{border-bottom:1px dotted #000!important}
.s3-seek-bar{background-color:#333!important}
.s3-poweredby{color:#222!important}
ul.s3-controls li a,ul.s3-toggles li a,ul.s3-toggles-video li a{text-shadow:1px 1px 0 rgba(0,0,0,0.3)}
div.jp-video-full div div {background:#202020;}